body {
  margin: 0;
  overflow-x: hidden;

  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #00df70;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 50px;
  text-transform: uppercase;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: white;
}
.topnav a.active:after{
    border-bottom: 4px solid #FFF;
    color: white;
    width: 100%;
    padding-bottom: 0px;
    display: flex;
    content: '';
}

.topnav .icon {
  display: none;
}

.social-media{
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: -12%;
    width: inherit;
}
.social-media ul{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}
.social-media ul li{
    padding: 0 10px;
}
.content{
    position: absolute;
    left: 60%;
    width: 400px;
    padding: 25px;
    background: #fff;
    height: auto;
    top: 30%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.col-12{
    width: 100%;
    display: block;

}
.mr-auto{
    margin:auto;
}
.mr-tp-50{
    margin-top: 50px;
    
}
.btn{
    /* margin: auto; */
    justify-content: center;
    display: flex;
    background:#00df70;
    text-align: center;
    width: auto;
    border:none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .5px;
    border-radius: 2px;
    /* min-width: 150px; */
}
.btn-large{
    width: 200px;
    line-height: 55px;
    
}
.icons-content{
    position: absolute;
    left: 0;
    top:50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    z-index: 40;
}
.icons-content ul{
    list-style: none;
}
.icons{
    background: #00df70;
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn img{
    max-width: 30px;
    margin: auto 0;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
    transform: scale(1.05);
}
.content:before {
    background:#00df70;
    content: '';
    position: absolute;
    width: inherit;
    left: -22%;
    position: relative;
    z-index: 538;
    position: inherit;
    width: 101px;
    top: 0;
    height: 100%;
    filter: opacity(0.5);
}
.card-section{
    margin: auto 5%;
    display: flex;
    text-align: center;
}
.card-section1 .left{
    width: 60%;
}
.card-section1 .right{
    background: #fff;
    width: calc(100% - 60%);
}
.card-section1 .content {
    position: relative;
    left: 0%;
    top: 10%;
    height: 300px;
    padding-left: 50px;
    padding-right: 50px;
}
.card-section1 p{
    font-size: 14px;
}
.card-section1 .content:before{
    position: absolute;
    left: -20%;
}
.mr-tp-30{
    margin-top:30px;
}
.card
{
    margin: 50px;
    width: 100%;
    padding: 15px;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
    color: #999;
    opacity: 0.9;
}
h2{
    font-size: 32px;
    text-transform: uppercase;    
    color: rgba(37, 37, 37,0.8);
}
.underline{
    padding-top: 15px;
    border-bottom: 6px solid #00df70;
    transition: width .3s;
    line-height: 3px;
    /* margin: auto; */
    transition: width .3s;
    width: fit-content;

}
.underline:hover{}
.card-service{
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
}
p,h3{
    opacity: 0.7;
    color: #999;
}
h3{
    color: #333;
}
.card p{
    font-size: 12px;
    line-height: 20px;

}
.card-service p{
    color: grey;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}
.card-service h2{
    font-size: 32px;
}
.card-content img {
    max-width: 80px;
 }
 .sub-heading{
     text-transform: uppercase;
     color: #999;
    opacity: 0.6;
 }
 .flex {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: auto;
}
h3.strike{
    font-size: 24px;
    margin: auto;
}
.flex p{
    font-weight: 600;

}
.card-section-last{display: block;}
.content-last{display: flex;}
.card-section-last .flex{
    align-items: flex-start;
    padding: 20px 50px;
    margin: 30px auto;
}
.card-section-last ul{
    list-style: none;
    display: flex;
    padding: 0;
}
.card-section-last li.icon {
    width: 25px;
    height: 25px;
    padding: 2px;
    line-height: 24px;
    font-size: 12px;
    margin:0  10px;
    color: #FFF !important;
    border-radius: 50%;
    background: #00df70;
}
.card-section-last li.icon a{
    color: #FFF;
}
.card-section-last .flex.flex-last{
    text-align: left;
    line-height: 40px;
}
.btn-section{
    display: flex;
}
.btn-section .btn-top{
    margin: 0 15px;
    width: 60px;
}
.btn-top img{
    transform: rotate(270deg);
    width: 80px;
}

/* css */
.topnav .logo{
    background: #fff;
}
.logo img{
    max-width: 50px;
    max-height: 50px;
    transform: rotate(45deg);
}
nav ul {
    display: flex;
    list-style: none;
}
.content-section{
    width: 100%;
    display: flex;
    max-height: 500px;
}
.left{
    display: flex;
    width:70%;
}
.left img {
    display: flex;
    width: 100%;
    height: auto;
}

.right{
    width: calc(100% - 70%);
    background: #00df70;
    display: flex;
    height: inherit;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .left, .right{
      width: 50%;
  }
  .content{
      width: auto;
      left: 25%;
      top:20%;
  }
  h2{
      font-size: 20px;
  }
  p{
      font-size: 12px;
  }
  .btn, .btn-large{
      min-width: 100px;
      font-size: 12px;
      line-height: 14px;
  }
  .card-section, .flex,.content-last{
      flex-direction: column;
      margin: 0;
      width: 100%;
      flex: 1;
  }
}